@font-face {
    font-family: main_body_font_family;
    src: url(/Style/Fonts/along-sans-regular.ttf);
}

.home_body {
    background-color: #080710;
    margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_body {
    background-color: #080710;
}

.main_background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -11;
}

.main_background .main_shape {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
}

.main_shape:first-child {
    background: linear-gradient(to top right, #390352, #5118ad);
    left: 240px;
    top: -80px;
}

.main_shape:last-child {
    background: linear-gradient(to bottom right, #ad1818, #f35d5d);
    right: -113px;
    bottom: -80px;
}

.main_background2 {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -11;
}

.main_background2 .main_shape2 {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
}

.main_shape2:first-child {
    background: linear-gradient(to bottom left, #390352, #5118ad);
    right: 240px;
    bottom: -80px;
}

.main_shape2:last-child {
    background: linear-gradient(to top left, #ad1818, #f35d5d);
    right: 240px;
    bottom: 300px;
}

/*Felso sav gombok*/

.home_felso_bg_dark {
    background-color: #060606;
    height: 70px;
    width: 100%;
    position: absolute;
    z-index: -1;
    position: fixed;
}

.home_header {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    position: fixed;
}

.logo_nem_vegleges {
    min-width: 50px;
    max-width: 100px;
    height: 70px;
    display: flex;
    cursor: pointer;
}

.register_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    height: 70px;
    border-radius: 10px;
    min-width: 50px;
    max-width: 100px;
}

.login_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    min-width: 50px;
    max-width: 100px;
}

.us_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    min-width: 50px;
    max-width: 100px;
}

.user_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    width: 100px;
    height: 70px;
    border-radius: 10px;
    min-width: 50px;
    max-width: 100px;
}

/*Home page gombok hover*/

.user_button:hover {
    background-color: #ffffff;
    color: #363636;
}

.register_button:hover {
    background-color: #ffffff;
    color: #363636;
}

.us_button:hover {
    background-color: #ffffff;
    color: #363636;
}

.login_button:hover {
    background-color: #ffffff;
    color: #363636;
}

/* Aruhaz gomb*/

.banana {
    display: flex;
    justify-content: center;
    width: 1200px;
}

.banana_mobile{
    display: none;
}

.home_page_h2_div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -150px;
}

.home_page_h2_button {
    background-color: #ffffff70;
    background-repeat: no-repeat;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    letter-spacing: 2.5px;
    transition: all 0.3s ease 0s;
    font-size: 200%;
    height: 10%;
    padding: 0.4em 3em;
}

.home_page_h2_button:hover {
    background-color: #00000070;
    color: rgb(255, 255, 255);
}

/*Also sav*/

.home_also_bg_dark {
    display: flex;
    background-color: #060606;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    z-index: -1;
    left: 0%;
    position: fixed;
}

.kukac {
    display: flex;
    justify-content: center;
}

.also_sav {
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 1222px;
    justify-content: space-between;
}

/*Also sav gombok*/

.news_div {
    display: flex;
}

.news_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.wts_div {
    display: flex;
}

.wts_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    text-transform: uppercase;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.wtb_div {
    display: flex;
}

.wtb_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    text-transform: uppercase;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.wtt_div {
    display: flex;
}

.wtt_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    text-transform: uppercase;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.legit_check_div {
    display: flex;
}

.legit_check_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    height: 70px;
    border-radius: 10px;
}

/*Also sav gombok hover*/

.news_button:hover {
    background-color: #ffffff;
    color: #060606;
}

.wts_button:hover {
    background-color: #ffffff;
    color: #060606;
}

.wtb_button:hover {
    background-color: #ffffff;
    color: #060606;
}

.wtt_button:hover {
    background-color: #ffffff;
    color: #060606;
}

.legit_check_button:hover {
    background-color: #ffffff;
    color: #060606;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
}

.dropup_content .dropup_h1 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.inline_dropup {
    display: flex;
    justify-content: space-between;
}

.dropup_h1 {
    font-family: main_body_font_family;
    font-size: 120%;
    padding: 100px;
}

.dropup_content .dropup_h1:hover {
    background-color: #ccc;
}

.dropup:hover .dropup_content {
    display: block;
}

/*Us oldal css*/

.us_body {
    background-image: url("Public/Style/Home_background_8.jpg");
    background-color: black;
    margin: 0px;
    background-size: cover;
}

.us_bg_dark {
    background-color: #61585893;
    height: 70px;
    width: 100%;
    position: fixed;
}

.us_header {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.us_page_button {
    background-color: #ffffff93;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.us_page_button:hover {
    background-color: #ffffff93;
    color: rgb(0, 0, 0);
}

.us_main_body_div {
    display: flex;
    background-color: #ffffff93;
    flex-direction: column;
    height: 100%;
}

.us_body_main {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}

.us_main_body_text {
    font-family: main_body_font_family;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    margin-top: 2%;
    margin-bottom: 0%;
}

.us_main_body_szoveg {
    font-size: 115%;
    text-align: center;
}

.screen_us_info_div {
    display: flex;
    background-color: white;
    bottom: 0%;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.screen_us_h2 {
    display: flex;
    font-size: 1.3em;
    text-transform: uppercase;
}

.screen_us_elerhetoseg_div {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

.screen_us_informacio_div {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

.screen_us_szabalyzat_div {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

.screen_us_p1 {
    display: flex;
    margin-left: 2%;
}

.screen_us_p2 {
    display: flex;
    margin-left: 20%;
}

.screen_us_p3 {
    display: flex;
    margin-left: 25%;
}

/*wtb oldal*/

.screen_wtb_body {
    background-color: #2b2a33;
}

.wtb_felso_bg_dark {
    background-color: #000000;
    height: 70px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.wtb_container {
    display: flex;
    justify-content: center;
}

.wtb_home_div {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 1222px;
}

.screen_wtb_header {
    display: flex;
    background-color: rgb(36, 36, 36);
    width: 100%;
}

.asdasd {
    display: flex;
    font-family: main_body_font_family;
    font-weight: 900;
    font-size: 4em;
    line-height: 2;
    letter-spacing: 0.231em;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
}

.wtb_home_also_bg_dark {
    background-color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    position: fixed;
}

.wtb_kukac {
    display: flex;
    justify-content: center;
}

.wtb_also_sav {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 1222px;
}

.screen_wtb_button {
    background-color: #ffffff;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    text-transform: uppercase;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.screen_wtb_button:hover {
    background-color: #ffffff93;
    color: rgb(0, 0, 0);
}

/*WTT oldal button, a tobbi ugyan az mint a wtb*/

.wtt_screen_wtb_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    text-transform: uppercase;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.wtt_screen_wtb_button:hover {
    background-color: #ffffff93;
    color: rgb(0, 0, 0);
}

.screen_wtt_button {
    background-color: #ffffff;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    text-transform: uppercase;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

/*WTS oldal button, tobbi a wtb*/

.wts_screen_wtb_button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    text-transform: uppercase;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.wts_screen_wtb_button:hover {
    background-color: #ffffff93;
    color: rgb(0, 0, 0);
}

.screen_wts_button {
    background-color: #ffffff;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    outline: none;
    text-transform: uppercase;
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.content_div {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10px;
    left: -148%;
    width: 410%;
}

.dropdown_h1 {
    font-family: main_body_font_family;
    font-size: 120%;
    padding: 100px;
}

.dropdown_content .dropdown_h1 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.inline_dropdown {
    display: flex;
    justify-content: space-between;
}

.dropdown_content .dropdown_h1:hover {
    background-color: #ccc;
    border-radius: 10px;
}

.content_div:hover .dropdown_content {
    display: block;
}

/*Register html*/

.register_body {
    background-color: #080710;
}

.register_background {
    width: 430px;
    height: 720px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -11;
}

.register_background .register_shape {
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
}

.register_shape:first-child {
    background: linear-gradient(to top right, #390352, #4300af);
    left: 240px;
    top: -80px;
}

.register_shape:last-child {
    background: linear-gradient(to bottom right, #390352, #4300af);
    right: -200px;
    bottom: -80px;
}

.register_background2 {
    width: 430px;
    height: 720px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -11;
}

.register_background2 .register_shape2 {
    height: 400px;
    width: 400px;
    position: absolute;
    border-radius: 50%;
}

.register_shape2:first-child {
    background: linear-gradient(to bottom left, #390352, #4300af);
    right: 240px;
    bottom: -80px;
}

.register_shape2:last-child {
    background: linear-gradient(to top left, #390352, #4300af);
    right: 240px;
    bottom: 410px;
}

.register_inputs {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    height: 650px;
}

.register_ml-4 {
    margin-left: 0%;
}

/*Register php*/

* {
    margin: 0px;
    padding: 0px;
}

.body_php {
    font-size: 120%;
    background-color: transparent;
}

.content {
    width: 30%;
    margin: 0px auto;
    background: transparent;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group_register {
    text-align: center;
    background-color: #2c2c2c88;
    min-height: 10%;
    max-height: 30%;
    width: 93%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px;
    background-color: #2c2c2c88;
    color: white;
}

.btn {
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: #000000;
    width: 93%;
    margin-top: -0.29em;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
/*Bejelentkezesi oldal*/

.login_body {
    background-color: #080710;
}

.login_background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -11;
}

.login_background .login_shape {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
}

.login_shape:first-child {
    background: linear-gradient(#ad1818, #f35d5d);
    left: 240px;
    top: -80px;
}

.login_shape:last-child {
    background: linear-gradient(to right, #f35d5d, #ad1818);
    right: -113px;
    bottom: -80px;
}

.login_background2 {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: -11;
}

.login_background2 .login_shape2 {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
}

.login_shape2:first-child {
    background: linear-gradient(#f35d5d, #ad1818);
    right: 240px;
    bottom: -80px;
}

.login_shape2:last-child {
    background: linear-gradient(to right, #ad1818, #f35d5d);
    right: 240px;
    bottom: 300px;
}

form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label {
    display: block;
}

.rounded_login {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-top: 0%;
}

.ml-2_login {
    display: inline-block;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.support_bakground {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #333333;
    width: 100%;
    height: 10vw;
    margin-bottom: 70px;
    bottom: 0px;
    left: 0px;
    z-index: -2;
    padding-top: 30px;
    margin-top: -50%;
}

.support_position {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

._h1 {
    color: white;
    font-family: main_body_font_family;
}

._div_a {
    display: flex;
    flex-direction: column;
}

.social_media_a {
    color: white;
    font-family: main_body_font_family;
    font-size: 0.9vw;
    font-style: italic;
}

/*WTT oldal*/

.dropdown_content_legit {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10px;
    left: -310%;
    width: 410%;
}

.dropdown_content_legit .dropdown_h1 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content_legit .dropdown_h1:hover {
    background-color: #ccc;
    border-radius: 10px;
}

.content_div:hover .dropdown_content_legit {
    display: block;
}

.mobile_screen {
    display: none;
}

.mobile_aruhaz_container{
    display: none;
}

@media only screen and (max-width: 600px) {
    .home_header {
        display: none;
        width: 100%;
    }

    .mobile_screen {
        display: block;
        background-color: #000000ab;
        width: 100%;
    }

    .also_sav{
        display: none;
    }

    .home_also_bg_dark{
        display: none;
    }

    .dropbtn {
        background-color: transparent;
        color: rgb(255, 255, 255);
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 75px;
        margin-top: 30px;
        z-index: 2;
    }

    .dropdown_span {
        display: block;
        height: 10px;
        background: rgb(255, 255, 255);
        margin: 3px 0;
        width: 40px;
        margin-bottom: 5px;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        border-radius: 5px;
    }

    .mobile_dropdown {
        position: relative;
        display: inline-block;
        margin-top: -30px;
        max-width: 100%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 498%;
        overflow: auto;
        z-index: 1;
        background-color: #000000ab;
        text-align: center;
        color: white;
        border-bottom-right-radius: 5%;
    }

    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: main_body_font_family;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .show {
        display: block;
        width: 100%;
    }

    .home_felso_bg_dark{
        background-color: unset;
    }

    .banana_mobile {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .home_page_h3_div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .home_page_h3_button {
        background-color: #ffffff70;
        background-repeat: no-repeat;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 25px;
        cursor: pointer;
        overflow: hidden;
        color: rgb(0, 0, 0);
        transition: all 0.3s ease 0s;
        letter-spacing: 2.5px;
        transition: all 0.3s ease 0s;
        font-size: 200%;
        height: 10%;
        padding: 0.4em 3em;
    }
    
    .home_page_h3_button:hover {
        background-color: #00000070;
        color: rgb(255, 255, 255);
    }

    .main_background{
        display: none;
    }
    
    .main_background2{
        width: 100%;
        height: 520px;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -11;
    }

    .main_shape2:first-child {
        background: linear-gradient(to bottom left, #390352, #5118ad);
        right: 8%;
        bottom: -21%;
    }
    
    .main_shape2:last-child {
        background: linear-gradient(to top left, #ad1818, #f35d5d);
        right: 8%;
        top: -21%;
    }

    .login_background2{
        display: none;
    }

    .login_background{
        width: 100%;
        height: 520px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        z-index: -11;
      }
    
      .login_shape:first-child{
        background: linear-gradient(#ad1818, #f35d5d);
        left: 8%;
        top: -21%;
      }

      .login_shape:last-child {
        background: linear-gradient(to right, #f35d5d, #ad1818);
        right: 8%;
        bottom: -21%;
      }

      .login_inputs{
          max-width: 100%;
      }
    
      .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
      }

      .register_background2{
          display: none;
      }

      .register_background{
        width: 100%;
        height: 520px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        z-index: -11;
      }

      .register_background .register_shape {
        height: 300px;
        width: 300px;
        position: absolute;
        border-radius: 50%;
      }

      .register_shape:first-child{
        background: linear-gradient(#390352, #4300af);
        left: 8%;
        top: -21%;
      }

      .register_shape:last-child {
        background: linear-gradient(to right, #4300af, #390352);
        right: 8%;
        bottom: -21%;
      }
    
      .register_inputs{
          width: 100%;
          margin-top: 10%;
      }

      .banana{
          display: none;
      }

        .mobile_aruhaz_container{
            display: none;
            width: 100%;
            height: 100%;
        }

        .mobile_aruhaz_felso_sav{
            display: block;
            background-color: rgb(0, 0, 0, 0.616);
            min-width: 100%;
            min-height: 15%;
        }

        .main_mobile_text{
            display: block;
            width: 100%;
            height: 10%;
            padding-top: 5%;
        }

        .mobile_h1{
            color: aliceblue;
            text-align: center;
            font-size: 225%;
            font-family: main_body_font_family;
        }

        .mobile_wts{
            display: flex;
            background-color: rgba(0, 0, 0, 0.616);
            width: 100%;
            height: 10%;
            border: none;
        }

        .mobile_wts_text{
            color: white;
            text-align: center;
            font-size: 200%;
            margin-top: 5%;
            margin-left: 5%;
            font-family: main_body_font_family;
        }

        .mobile_white_sav{
            display: block;
            width: 100%;
            height: 2%;
            background-color: rgba(255, 255, 255, 0.617);
        }
        
        .kacsacsor_mobile{
            display: flex;
            width: auto;
            height: auto;
            margin-right: 10%;
            margin-top: 3%;
            margin-left: auto;
        }

        .kacsacsor_mobile_a{
            display: block;
            color: white;
            font-size: 280%;
        }

        .mobile_linker{
            display: grid;
            width: 100%;
            z-index: 10000000000000000;
        }
}
